body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 30px auto;
    width: 300px;
    place-items: center;
}

button {
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
}

#display {
    width: 200px;
    height: 30px;
    font-size: 24px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}